<% contador = 1 %>


<p id="notice"><%= notice %></p>

<p>
  <b>Band:</b>
  <%= @users_band.band.name %>
</p>

<table>

  <% @users_band1.each do |user| %>
     <tr>
     	<td>
     	  <%= user.user.name %>	
     	</td>
     </tr>
  <% end %>

</table>


<%= link_to 'Atrás', users_bands_path %>

